<div id="sidebar" role="complementary" class="bs-sidebar affix affix-top well">
    <div class="centered">
        {% image '@LeaphlyContentBundle/Resources/public/images/favicons/32_leaphly-logo-white.png'
        %}<img src="{{ asset_url }}" alt="leaphly symfony2 cart" />
        {% endimage %}
    </div>
    <ul class="nav bs-sidenav">
        <li><a href="{{ path('leaphly_content_homepage') }}#mission-statement">Mission Statement</a></li>
        <li><a href="{{ path('leaphly_content_homepage') }}#features">Features</a></li>
        <li><a href="{{ path('leaphly_content_homepage') }}#shopping-cart-on-the-shoulder-of-the-giants">Shopping cart</a></li>
        <li><a href="{{ path('leaphly_content_homepage') }}#demo">Demo</a></li>
        <li><a href="{{ path('leaphly_content_homepage') }}#big-picture">Big Picture</a></li>
        <ul class="nav bs-sidenav">
          {#  <li><a href="#why-leaphly">Why Leaphly</a></li>#}
          {# <li><a href="#the-perfect-ecommerce">Perfect e-commerce</a></li>#}
          {#  <li><a href="#decouple-decouple-decouple">Decouple</a></li>#}
            <li><a href="{{ path('leaphly_content_homepage') }}#what-is-our-target-audience">Target audience</a></li>
            <li><a href="{{ path('leaphly_content_homepage') }}#understanding-the-fundamentals">Fundamentals</a></li>
            <li><a href="{{ path('leaphly_content_homepage') }}#strategy-pattern">Strategy pattern</a></li>
            <li><a href="{{ path('leaphly_content_homepage') }}#finite-state-machine">FSM</a></li>
        </ul>
        <li><a href="{{ path('leaphly_content_homepage') }}#hands-on">Hands on</a></li>
        <li><a href="{{ path('leaphly_content_homepage') }}#give-a-feedback">Feedback</a></li>
        <li><a href="{{ path('leaphly_content_install_sandbox') }}">Install the Sandbox</a></li>
        <li><a href="{{ path('documentation') }}/book/installation.html">Create your Application</a></li>
        <li><a href="{{ path('nelmio_api_doc_index') }}" target="_blank">API doc</a></li>
        <li><a href="{{ path('documentation') }}" target="_blank">Documentation</a></li>
    </ul>
    <div class="centered"><a href="https://twitter.com/leaphly" class="twitter-follow-button" data-show-count="false">Follow @leaphly</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
</div>
